@charset "UTF-8";

#panel, #flip {
	padding: 5px;
	text-align: center;
	background-color: #e5eecc;
	border: solid 1px #c3c3c3;
}

#panel {
	padding: 50px;
	display: none;
}

body {
	
}

h1 {
	text-align: center;
}

table {
	background-color: white;
	text-align: center;
	line-height: 30px;
}

div.circle {
	text-align: center;
}

div.searchForm {
	margin-bottom: 0px;
	padding-top: 5px;
	text-align: center;
}

th {
	padding: 12px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #c69c6d;
	color: #383838;
	font-size: 14px;
	text-align: center;
	letter-spacing: -0.5px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum, Arial;
	line-height: 9px;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}